<!-- device status page-->
<!doctype html>
<html lang="en">
<html>
<head>
  <%- include('partials/head'); %>
  
</head>
<body class="bg-dark text-light">
  <%- include('partials/navbar'); %>
  <div class="container mt-5">
    
    <h1> Delete a device:</h1>
    <div>
      <form method="POST" action="/delete-device">
        <label for ="name">Choose the device to delete</label>
        <select name="id" id="selected-device-id">
          <% devices.forEach(function(device){ %>
              <option value="<%= device.id %>"><%= device.name %></option>
            <% }) %>
          </select>
          <input type="submit" id="delete-device-submit" value="Delete" class="btn btn-danger">
        </form>
      </div>
    </div>
    
  </table>
  <!-- Footer -->
  <%- include('partials/footer'); %>
  
</body>
</html>
