<!-- device status page-->
<!doctype html>
<html lang="en">
<html>
<head>
  <%- include('partials/head'); %>
  
</head>
<body>
  <%- include('partials/head'); %>

  <h1> device status page  </h1>
  
  <div>
    
    
    
    <label for ="name">Choose your device</label>
    <select name="name" id="name">
      <% devices.forEach(function(device){ %>
        <option value= " "><%= device.name %></option>
        
        <% }) %>
      </select>
      <button id ="submit"> show status </button>
      
      <!--i can use here onclick in -->
      <script>
        document.getElementById("submit").onclick = showstatus;
        function showstatus(){
          document.getElementById("name").innerHTML = parameters();
          
        }
        
      </script>
      
      <% devices.forEach(function(device){ %>
        <%= device.type %>
        <%= device.isOn %>
        <%= device.isOpen %>
        <%= device.temp %>
        
        <% }) %>
        
        
        <p> OUTPUT HERE OTHER PARAMETERS </p>
        
      </div>
      
      
      
    </table>
    <!-- Footer -->
    <%- include('partials/footer'); %>

  </body>
  </html>
  
  