<!-- device status page-->
<!doctype html>
<html lang="en">
<html>
<head>
  <%- include('partials/head'); %>
  
</head>
<body class="bg-dark text-light">
  <%- include('partials/navbar'); %>
  <div class="container mt-5">
    
    <h1>Device status :</h1>
    <div>
      <form method="GET" action="/device-status">
        <label for ="name">Choose your device</label>
        <select name="id" id="selected-device-id">
          <% devices.forEach(function(device){ %>
            <% if (deviceStatus == "lala" && deviceStatus.id == device.id) { %>
              <option selected value="<%= device.id %>"><%= device.name %></option>
            <% } else { %>
              <option value="<%= device.id %>"><%= device.name %></option>
            <% } %>
            <% }) %>
          </select>
          <input type="submit" id="device-status-submit" value="Show status" class="btn btn-primary">
        </form>

        <% if (deviceStatus) { %>
          <% switch (deviceStatus.type) {
            case "tv": %>
          tv type
          <% break;
            case "radio": %>
          radio type
          <% break;
            case "oven": %>
          oven type
          <% break;
            case "fridge": %>
          fridge type
          <% break;
            case "door": %>
            door type
          <% break;
            default:
            break; } %>
        <% } %>
        
      </div>
    </div>
    
  </table>
  <!-- Footer -->
  <%- include('partials/footer'); %>
  
</body>
</html>